@font-face {
  font-family: lobster;
  src: url(Lobster-Regular.ttf);
}

h1 {
  font-family: myFirstFont;
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	background-color:#e8e8e8;
}

header {
	width: 100%;
	padding-bottom: 25px;
	flex-direction: column;
}

img {
	width: 70%;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}